<!DOCTYPE html>
<html>
<head>
    <title>Scope</title>
    <script src="scripts/angular.min.js"></script>
    <meta charset="utf-8" />

    <script src="scripts/6-bindings.js"></script>
</head>
<body ng-app="sample">
    <div ng-controller="test">
        Value of a:<span>{{a}}</span><br />
        Value of b:<span>{{b}}</span><br /><!--one way binding-->
        <hr/>
        Value of a:<span ng-bind="a"></span><br />
        Value of b:<span ng-bind="b"></span><br /><!--one way binding-->
        <hr/>
        Value of a:<input type="text" ng-model="a" /><br />
        Value of b:<input type="text" ng-model="b" /><br /><!--two way binding-->
        <hr />
        Sum:<span ng-bind="sum"></span><br />
        Value of a:{{::a}}<br/><!--one time binding-->
        <input type="button" value="Sum" ng-click="GetSum()" />
    </div>
</body>
</html>

